

/* body {
    margin: 0;
    font-family: Arial;
} */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.header {
    .logo{
        font-family: "swap", system-ui;
        font-size: 19px;
        font-variant: "wdth" 100;
    }


    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
    .menu a {
        margin-right: 15px;
        text-decoration: none;
        color: black;
      }
      
      .menu a:hover {
        border-bottom: 2px solid blue;
      }
    
      .menu div:hover {
        border-bottom: 2px solid blue;  
      }
      .acciones input {
        margin-right: 10px;
      }     
      .cart {
        font-size: 18px;
      }

      .submenu-cat{
        display: flex;
      }

      i{
        color: rgb(0, 140, 255);
      }
  
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
  
  

  
  .banner {
    text-align: center;
    border: 1px SOLID BLACK;
    color:black;
    width: 840px;
    height: 200px;
    margin-left: 50vh;
    border-radius: 5px;
    font-size: 20px; 
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    

    #novedad{
        background-color: rgb(0, 85, 255);
        border-radius: 10px;
        border:none;
        color: whitesmoke;
        height: 25px;
    }
}


h2{
    text-align: center;
} 

.plan{
    text-align: center;
    margin: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    
    border-radius: 20px ;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    img{
        width: 100%;
        height: 80%;
    } 
} 

.plan-pro{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  } 
  


.planes{
    display: flex;
    padding: 0px;
    margin: 10px;
    justify-content: space-around;
    img{
        width: 100%;
        height: 80%;
    }
}



.plan-2{
    text-align: center;
    margin: center;
    width: 200px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    
    border-radius: 20px ;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    img{
        width: 100%;
        height: 80%;
    } 

    i{
        display: flex;
        justify-content: end;
    }
} 

.plan-pro-2{
    text-align: center;
    width: 200px;
    height: 270px;
    background-color: rgb(255, 255, 255);
    
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

    .fav{
        color: red;

    }

    i{
        display: flex;
        justify-content: end;
    }
} 
  


.planes-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    margin: 10px;
    justify-content: space-around;
    img{
        width: 100%;
        height: 80%;
    }

    i{
        display: flex;
        justify-content: end;
    }
}


button{
    border: none;
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    width: 30vh;
    height: 25px;

}


footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 50, 50);
    color: rgb(217, 217, 217);

    .principal{
        color: white;
    }
}




